{% extends "base.html" %}
{% block head_includes %}
<script src="{{ url_for('static', filename='vendor/js/choices.min.js') }}"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/base.min.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/choices.min.css') }}">
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const element = document.getElementById("courses");
    const choices = new Choices(element, {
      searchFields: ["label"],
      searchResultLimit: 50,
      removeItemButton: true,
      placeholderValue: "Select your courses..."
    })
  })
</script>

{% endblock %}
{% block body %}
<div id="loading" hidden>
  <div style="position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); z-index:9999;">
    <img src="{{ url_for('static', filename='/img/loading.svg') }}">
  </div>
</div>
<div id="form">
  <form action="/generate" method="get" onsubmit="onSubmit()">
    <select name="courses" id="courses" placeholder="Select your courses..." multiple>
      {% for c in courses %}
      <option value="{{ c['course_id'] }}">{{ c['display_name']|safe }}</option>
      {% endfor %}
    </select>
    <button type="submit">Submit</button>
  </form>

</div>
{% endblock %}